.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Немного увеличил затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 100%; /* Изменил для заполнения всего экрана */
  height: 100%; /* Заполняем всю высоту экрана */
  width: 100%; /* Заполняем всю ширину экрана */
  position: relative;
  overflow-y: auto; /* Добавить скролирование, если контент превышает высоту экрана */
}

.modal-content button {
  position: absolute;
  top: 20px; /* Увеличил отступ для кнопки */
  right: 20px; /* Увеличил отступ для кнопки */
}
