body.no-scroll {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-grid;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.arrow {
  margin-top: 40px;
  margin-left: 10px;
}

.modal-image {
  max-width: 100%;
  max-height: 60vh;
  height: auto;
  border-radius: 40px;
  margin-bottom: 20px;
  margin-top: 70px;
}

.why {
  min-height: 110px;
  max-height: 110px;
  min-width: 100px;
  max-width: 100px;
  background-image: url("why.png"); /* Путь к вашему фону */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Цвет текста */
  font-size: 1em; /* Размер текста */
  text-align: center; /* Выравнивание текста */
  margin-right: 18px;
  scroll-snap-align: start; /* Выравнивание элементов при прокрутке */
  flex: 0 0 auto; /* Элементы не будут сжиматься */
}
.how {
  min-height: 110px;
  max-height: 110px;
  min-width: 100px;
  max-width: 100px;
  background-image: url("share.png"); /* Путь к вашему фону */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Цвет текста */
  font-size: 1em; /* Размер текста */
  text-align: center; /* Выравнивание текста */
  margin-right: 18px;
  scroll-snap-align: start; /* Выравнивание элементов при прокрутке */
  flex: 0 0 auto; /* Элементы не будут сжиматься */
}
.garante {
  min-height: 110px;
  max-height: 110px;
  min-width: 100px;
  max-width: 100px;
  background-image: url("garant.png"); /* Путь к вашему фону */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Цвет текста */
  font-size: 1em; /* Размер текста */
  text-align: center; /* Выравнивание текста */
  margin-right: 18px;
  scroll-snap-align: start; /* Выравнивание элементов при прокрутке */
  flex: 0 0 auto; /* Элементы не будут сжиматься */
}
.loyal {
  min-height: 110px;
  max-height: 110px;
  min-width: 100px;
  max-width: 100px;
  background-image: url("warehouse.png"); /* Путь к вашему фону */
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Цвет текста */
  font-size: 1em; /* Размер текста */
  text-align: center; /* Выравнивание текста */
  scroll-snap-align: start; /* Выравнивание элементов при прокрутке */
  flex: 0 0 auto; /* Элементы не будут сжиматься */
}
.about-buttons-question-from {
  display: flex;
  overflow-x: auto; /* Позволяет прокручивать элементы по оси X */
  scroll-snap-type: x mandatory; /* Для плавного прокручивания */
  min-height: 125px;
  margin-top: 20px;
}
.about-buttons-question-from::-webkit-scrollbar {
  display: none; /* Скрывает полосу прокрутки */
}

.card {
  display: flex;
  justify-content: space-between;
}
.details-button {
  min-width: 94px;
  min-height: 29px;
  background-color: #173b33;
  border-radius: 6px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block-about {
  min-width: 344px;
  /* min-height: 266px; */
  background-color: #d9d9d9;
  border-radius: 11px;
  /* overflow-y: auto; */
  height: auto;
}

.block-about::-webkit-scrollbar {
  display: none;
}
.go-to-cart {
  color: white;
  background-color: #3d6159;
  border-radius: 20px;
  width: 100vh;
  min-height: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /* margin-bottom: 10px; */
}
.block-about p {
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 13px;
  font-weight: 400;
  margin-right: 20px;
  padding: 5px;
}
.add-cart {
  color: white;
  background-color: #3d6159;
  border-radius: 20px;
  width: 100vh;
  min-height: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  /* margin-bottom: 10px; */
}
.add-to-cart,
.add-to-cart-min {
  background-color: #3d6159;
  color: white;
  border-radius: 20px;
  border: none; /* Убираем обводку */
  width: 76px; /* Установите ширину по вашему усмотрению */
  height: 36px; /* Установите высоту по вашему усмотрению */
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-controls {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 10px;
}
.more .block-about {
  margin-top: 110px;
}
.modal-content1 {
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  background: radial-gradient(#cdcdcd, #8a8a8a);
  border-radius: 8px;
  overflow-x: hidden;
  padding: 20px;
}
.modal-overlay2 {
  align-items: center;
  background: #00000080;
  bottom: 0;
  /* display: flex; */
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  display: inline-grid;
}
.product-price-add {
  position: relative;
}
