.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Немного увеличил затемнение фона */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 100%; /* Изменил для заполнения всего экрана */
  height: 100%; /* Заполняем всю высоту экрана */
  width: 100%; /* Заполняем всю ширину экрана */
  position: relative;
  overflow-y: auto; /* Добавить скролирование, если контент превышает высоту экрана */
}

.modal-content button {
  position: absolute;
  top: 20px; /* Увеличил отступ для кнопки */
  right: 20px; /* Увеличил отступ для кнопки */
}
.button button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0f7ff; /* Светло-голубой цвет фона */
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Небольшая тень */
}

.button button .icon {
  color: #007bff; /* Синий цвет иконки */
  font-size: 20px; /* Размер иконки */
}

.button button:hover {
  background-color: #d0e7ff; /* Более темный цвет фона при наведении */
}
