/* ProfileModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  /* text-align: center; */
  background: radial-gradient(#cdcdcd, #8a8a8a);
  /* height: 100%; */
  overflow-x: hidden;
}
.buttonsMainProfile button {
  background-color: #d9d9d9;
  width: 100%;
  height: 88px;
  border-radius: 11px;
  margin-bottom: 10px;
}
.delivery {
  background-color: #c7b385;
  width: 100%;
  height: 152px;
  border-radius: 11px;
}
.arrow {
  width: 33px;
  height: 33px;
}
.b {
  width: 102px;
  height: 100%;
  margin-left: 278px;
}
.car {
  margin-right: 100px;
}
.buttonsMainProfile {
  margin-top: 70px;
}
.buttonsMainProfile > div:first-child {
  /* Стили для первого элемента */
}

.buttonsMainProfile > div:nth-child(2) {
  /* Стили для среднего элемента */
  height: 102px;
}

.buttonsMainProfile > div:last-child {
  /* Стили для последнего элемента */
  height: 120px;
}
