/* ProfileModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  /* text-align: center; */
  background: radial-gradient(#cdcdcd, #8a8a8a);
  /* height: 100%; */
  overflow-x: hidden;
}
.product-name-item {
  background-color: #d9d9d9;
  width: 340px;
  height: 70px;
  margin-bottom: 10px;
  font-size: 12px;
  border-radius: 11px;
}
.product-name-item {
  transition: all 0.3s ease;
}

.product-name-item.active {
  height: 150px; /* Увеличенный размер */
}

.additional-elements {
  display: none;
}

.product-name-item.active .additional-elements {
  display: block;
}
.input-container {
  position: relative;
  width: 200px; /* задайте ширину контейнера */
  grid-template-columns: auto minmax(0, 50px);
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* 50% ширины от родительского контейнера */
  height: 100%;
  background-color: yellow; /* цвет фона */
  z-index: 0; /* помещаем за элементом ввода */
  overflow: hidden;
  pointer-events: none; /* игнорируем события */
}

.highlight-text {
  color: black; /* цвет текста */
  padding: 10px; /* отступы, чтобы текст не прилипал к границам */
  pointer-events: none; /* игнорируем события */
}
