.product-price-add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  border-radius: 28px;
  padding: 10px 15px; /* Добавил элементы для обеспечения хорошего внешнего вида */
  min-width: 120px; /* Минимальная ширина для предотвращения "схлопывания" */
  margin: 0 auto; /* Центруем элемент */
}

.product-price {
  display: flex; /* Изменено на flex для кнопки "-" */
  align-items: center;
  font-size: 18px;
  margin-right: 20px;
  margin-left: 7px;
  min-width: 50px; /* Минимальная ширина для предотвращения "схлопывания" */
}

/* Измените размеры для кнопок, если они слишком маленькие */
.product-price button,
.add-to-cart,
.add-to-cart-min {
  flex-shrink: 0; /* Предотвращаем уменьшение кнопок */
  border: none;
  background: none;
  cursor: pointer;
  color: black;
}

/* Это может помочь в центрировании и размерах кнопок */
.product-price button {
  font-size: 18px; /* Для кнопки "-" */
}

.add-to-cart,
.add-to-cart-min {
  width: 30px; /* Увеличьте ширину для лучшей доступности */
  height: 30px;
  font-size: 18px;
}
