.modal-overlay1{
    background: radial-gradient(#CDCDCD, #8A8A8A);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.images-container {
    position: relative; /* Для позиционирования дочерних элементов */
    width: 100%;
    height: 100%;
  }
  
  .top-left {
    position: absolute; /* Позиционирование абсолютное */
    right: 0;
  }
  
  .bottom-right {
    position: absolute; /* Позиционирование абсолютное */
    bottom: 0;
/* Установите максимальную ширину по необходимости */
/* Установите максимальную ширину по необходимости */
  }
  .window-reg{
    background-color: #d9d9d9;
    border-color: #17453b;
    border-radius: 11px;
    border-width: 3px;
    height: 420px;
    width: 316px;
    /* border-width: 100px; */
    border-style: groove;
  }
  .arrow {
    width: 33px; ;
    height: 33px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .parent{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
  }

  .input-container{
    display: grid;
    grid-template-columns: auto minmax(0, 200px);
    align-content: center;
    margin: 0px 20px;
  }
  .input-order-profile{max-height: 30px;
    border: none;
    background-color: #E6E6E6;
    border-radius: 10px;}
  .application {
    color: #173B33;
    font-size: 20px;
    margin-top: 11px;
    margin: 20px 20px 30px;
  }
  
  .msg{margin-left: 20px;
    height: 70px;
    width: 270px;
    border-radius: 10px;
    margin-bottom: 6px;
    border: none;
    background-color: #E6E6E6;}
  .send-msg{
    margin-left: 20px;
    color: white;
    background-color: #17453B;
    border-radius: 11px;
    width: 128px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 10px;
    height: 28px;
    margin-left: 90px;
    margin-top: 10px;
    
  }