.arrow-group{width: 120px;
    display: flex;
    align-items: flex-start;}
.arrow-groups{display: flex;
}
.arrow-group p {
    align-self: flex-end;
    margin-top: auto;
    font-size: 11px;
}
.arrow-group:first-child{height: 280px;}
.arrow-group:nth-child(2){
    height: 215px;
}
.arrow-group:last-child{
    height: 165px;
}