.arrow-group {
  width: 100px;
  display: flex;
  align-items: flex-start;
}
.arrow-groups {
  display: flex;
}
.group-arrwo-post {
  height: 100vh;
  overflow: auto;
  position: absolute;
}
.arrow-group p {
  align-self: flex-end;
  margin-top: auto;
  font-size: 11px;
  white-space: nowrap;
}
.highlight-text {
  font-weight: bold; /* Делает текст жирным */
  color: #173b33; /* Устанавливает цвет текста */
}
.arrow-group:first-child {
  height: 220px;
}
.images-container3 {
  height: 100%;
  /* position: relative; */
  width: 100%;
}
.arrow-group:nth-child(2) {
  height: 175px;
}
.arrow-group:last-child {
  height: 115px;
}
.arrow1 {
  width: 33px;
  margin-top: 5%;
  margin-left: 2%;
}
.about-sales {
  display: flex;
  overflow-x: auto; /* Позволяет прокручивать элементы по оси X */
  scroll-snap-type: x mandatory; /* Для плавного прокручивания */
  min-height: 125px;
}
.about-sales::-webkit-scrollbar {
  display: none; /* Скрывает полосу прокрутки */
}
.share {
  display: inline-grid;
  margin-left: 10px;
  /* margin-right: 10px; */
  /* margin-top: 320px; */
}
.parent1 {
  overflow-x: hidden;
  /* height: 100vh; */

  /* position: relative; */
}
/* .share p{
    font-size: 13px;
} */
.parent p {
  width: auto;
}
.about-sale {
  background: linear-gradient(#f1fff787, #00000087);
  width: 154px;
  height: 154px;
  border-radius: 18px;
  margin-right: 10px;
}
.about-sale p {
  margin-right: 6px;
  font-size: 13px;
  width: 142px;
  margin-left: 6px;
}
.share-header-p {
  font-weight: 700;
  margin-top: 22px;
  font-size: 26px;
}
.earn {
  display: flex;
  justify-content: space-around;
  /* align-content: center; */
  align-items: center;
  height: 30px;
}
.earn img {
  width: 140px;
}
.share p:first-child {
  margin-bottom: 0px;
}
.all-p {
  font-size: 13px;
  text-align: center;
}
.all-p1 {
  width: 200px;
  /* text-align: right; */
  margin-right: 0;
  margin-left: auto;
  font-size: 13px;
}
.hr1 {
  margin-left: auto;

  width: 160px;
  border: none;
  border-top: 2px solid #173b33;
  margin-right: 24px;
}

.hr2 {
  /* width: 190px; */
  border: none;
  border-top: 2px solid #173b33;
  width: 90px;
}
.all-p2 {
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}
.arrowxs {
  display: flex;
  justify-content: center;
}
.statistic {
  background-image: url("buttonsale.png");
  height: 98px;
  width: 298px;
}
.invitation {
  width: 300px;
  /* height: 155px; */
  border-radius: 11px;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
  background: linear-gradient(
    178.54deg,
    #baa36e -56.24%,
    rgba(255, 255, 255, 0.2) 227.44%
  );
}
.statistic-hrad {
  justify-content: center;
  display: flex;
  /* margin-top: 50px; */
}
.innovation-head {
  justify-content: center;
  display: flex;

  /* margin-top: 50px; */
}
.all-p4 {
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 13px;
  line-height: 20px;
  /* padding-bottom: 10px; */
  /* margin-top: 7px; */
}
.innovation-head button {
  border-radius: 11px;
}
.changeover {
  display: flex;
  justify-content: space-around;
}
