.arrow-group{width: 120px;
    display: flex;
    align-items: flex-start;}
.arrow-groups{display: flex;
}
.arrow-group p {
    align-self: flex-end;
    margin-top: auto;
    font-size: 11px;
    white-space: nowrap
}
.arrow-group:first-child{height: 220px;}
.arrow-group:nth-child(2){
    height: 175px;
}
.arrow-group:last-child{
    height: 115px;
}
.about-sales{display: flex;
    overflow-x: auto; /* Позволяет прокручивать элементы по оси X */
    scroll-snap-type: x mandatory; /* Для плавного прокручивания */
    min-height: 125px;
    
}
.about-sale::-webkit-scrollbar {
    display: none; /* Скрывает полосу прокрутки */
  }
.share{    display: inline-grid;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 350px;
}
.parent{
    overflow-x: hidden;
    width:auto
}
.about-sale{
    background:linear-gradient(#F1FFF787,#00000087);
    width: 154px;
    height: 154px;
    border-radius: 18px;
    margin-right: 10px;
}
.about-sale p{
    margin-right: 3px;
    font-size: 13px;
    width: 142px;
    margin-left: 3px;
}
.share-header-p{font-size: 27px;
    font-weight: 700;
    margin-top: 22px;}
.earn{
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
}