body.no-scroll {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background-color: white;
  border-radius: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .modal {
  background: white;
  width: 100vw; /* Ширина равна ширине окна просмотра */
/* height: 100vh; /* Высота равна высоте окна просмотра */
/* display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box; Учитывает padding и border в общей ширине и высоте элемента */

/* .modal-inner-content {
  padding: 20px;
  overflow-y: auto; /* Вертикальная прокрутка если потребуется */
/* display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%; /* Высота на 100% относительно родителя */
/* box-sizing: border-box;
} */
.cart-media {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cart-media-good {
  display: grid;
  justify-items: center;
  margin-top: 150px;
}
.cart-media-good button {
  margin-top: 20px;
  margin-right: 15px;
  color: white;
  background-color: #3d6159;
  border-radius: 20px;
  width: 60px;
  min-height: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.cart-item {
  align-items: center;
  background-color: #ccc;
  border-radius: 11px;
  display: flex;
  height: 120.39px;
  margin-bottom: 10px;
  width: 346.93px;
}

.modal-close-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.cart-media-good p {
  font-weight: 300;
  /* size: 37px; */
  font-size: 37px;
}
.icon {
  font-size: 24px;
}
.cart-item img {
  width: 50px; /* увеличьте или уменьшите это значение как нужно */
  height: 50px; /* фиксированная высота, также измените по необходимости */
  object-fit: cover; /* Обрезает изображение, сохраняя его пропорции */
  margin-right: 10px; /* Добавляет отступ между изображением и текстом */
}
ul {
  display: contents;
}
.min-product-img {
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
  width: 50px;
  margin-left: 10px;
  border-radius: 4px;
}
.cart-head {
  margin-top: 100px;
  /* margin-left: 100px; */
  color: #173b33;
}
li .add-to-cart {
  background-color: #d9d9d9;
  width: 76px;
}

li .add-to-cart-min {
  background-color: #d9d9d9;
  width: 76px;
}
.checkout-button {
  color: white;
  background-color: #3d6159;
  border-radius: 20px;
  width: 100%;
  min-height: 36px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 18px;
  margin-top: auto;
}
