.window-block-about {
  background-color: #d9d9d9;
  border-color: #17453b;
  border-radius: 11px;
  border-width: 3px;
  width: 316px;
  border-style: groove;
  padding: 10px;
  overflow: hidden;
  max-height: 420px; /* Максимальная высота */
}

.window-block-about p {
  overflow: hidden;
  max-width: 100%;
  margin: 0; /* Убираем отступы у параграфов */
}

.window-block-about p:last-child {
  padding-bottom: 0;
}