/* .heaeder-top {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  padding: 10px;
}

.App {
  
  font-family: "Roboto", sans-serif;

  min-height: 100vh;
  
}
h1 {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.profile-container {
  display: inline-block; 
  border-radius: 50%; 
  border: 1px solid #212224; 
  padding: 5px;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.profile-image {
  width: 25px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-container:active {
  outline: none; 
} */
.header-name {
  width: 380px;
  height: 66px;
  background-color: #216e5c;
}
