.App {
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 15px; /* Уменьшил отступы */
  max-width: 120px; /* Уменьшил максимальную ширину карточки */
  flex: 0 0 calc(50% - 20px); /* Две карточки в ряду с учётом внешних отступов */
  box-sizing: border-box; /* Учитываем границы и отступы в ширине */
}
