.App {
  text-align: center;
}
/* h1 {
  text-align: center;
} */
.profile-container {
  display: inline-block; /* Убедитесь, что контейнер занимает только нужное место */
  border-radius: 50%; /* Сгладить углы для круглой рамки */
  border: 5px solid #007bff; /* Цвет и ширина рамки (в данном случае синий) */
  padding: 5px; /* Отступ вокруг изображения */
  overflow: hidden; /* Скрыть часть изображения за границами рамки */
}

.profile-image {
  width: 100px; /* Ширина изображения (можно изменить на нужное значение) */
  height: 100px; /* Высота изображения (можно изменить на нужное значение) */
  object-fit: cover; /* Сохранить пропорции и заполнить контейнер */
  border-radius: 50%; /* Сгладить углы для круглого изображения */
}
