body {
  background: radial-gradient(#24695a, #17453b);
  .header {
    display: flex;
    justify-content: flex-end; /* Выравнивание по правому краю */
    padding: 10px; /* Отступы для приличия */
    background-color: #f0f0f0; /* Цвет фона для хедера (по желанию) */
  }
  .menu-container {
    margin: 0;
    padding: 0;
    height: 100%; /* Заставляет body и html занимать всю высоту окна */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .link {
    margin-left: 10px; /* Отступы между кнопками */
  }

  .content {
    flex: 1; /* Заставляет контент занимать оставшееся пространство */
    display: flex;
    justify-content: center; /* Выравнивание по центр по горизонтали */
    align-items: center; /* Выравнивание по центр по вертикали */
    flex-direction: column; /* Расположение элементов по вертикали */
  }

  .footer {
    display: flex;
    justify-content: center; /* Выравнивание по центр по горизонтали */
    padding: 20px; /* Отступы для футера */
  }

  .shop-button {
    padding: 10px 20px; /* Внутренние отступы для кнопки */
    background-color: #007bff; /* Цвет кнопки */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
  }
}
/* .menu-container {
  margin: 0;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
/* .link {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.link:hover {
  color: darkblue;
}
.container {
  text-align: center;
  color: #e1b95b;
}
.header {
  position: absolute;
  top: 10px;
  right: 20px;
}
.link {
  margin: 0 10px;
  color: #e1b95b;
  text-decoration: none;
}
.title {
  font-size: 48px;
  margin: 0;
}
.subtitle {
  font-family: "Asap";
  font-weight: 400;
  margin-top: 10px;
  font-size: 11px;
  line-height: 18px;
  color: #baa36e;
}
#BAA36E .footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.shop-button {
  background-color: #3d6659;
  color: #e1b95b;
  border: 1px solid #e1b95b;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}
.shop-button:hover {
  background-color: #e1b95b;
  color: #3d6659;
} */
