body {
  background: radial-gradient(#24695a, #17453b);
}
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Занять всю высоту экрана */
}

.header {
  display: flex;
  justify-content: flex-end; /* Выравнивание по правому краю */
  padding: 20px; /* Отступы для удобства */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Выравнивание по центру по горизонтали */
  justify-content: center; /* Выравнивание по центру по вертикали */
  flex-grow: 1; /* Позволяет содержимому занимать оставшееся место */
}

footer {
  display: flex;
  justify-content: center; /* Центрирование футера */
  padding: 20px; /* Отступы для удобства */
}

/* .menu-container {
  margin: 0;
  font-family: Arial, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
/* .link {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font: inherit;
}

.link:hover {
  color: darkblue;
}
.container {
  text-align: center;
  color: #e1b95b;
}
.header {
  position: absolute;
  top: 10px;
  right: 20px;
}
.link {
  margin: 0 10px;
  color: #e1b95b;
  text-decoration: none;
}
.title {
  font-size: 48px;
  margin: 0;
}
.subtitle {
  font-family: "Asap";
  font-weight: 400;
  margin-top: 10px;
  font-size: 11px;
  line-height: 18px;
  color: #baa36e;
}
#BAA36E .footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.shop-button {
  background-color: #3d6659;
  color: #e1b95b;
  border: 1px solid #e1b95b;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}
.shop-button:hover {
  background-color: #e1b95b;
  color: #3d6659;
} */
