.garant-description {
  width: 80%;
  margin-top: 30%;
}
.garant-description img {
  height: 16px;
}
.storage-facilities-description {
  font-family: Asap;
  font-size: 13px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
}
.service-quality-intro {
  font-family: Asap;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
}
.company-advantages-list {
  font-family: Asap;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.quality-assurance-section {
  font-family: Asap;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.05000000074505806px;
  text-align: left;
}
@media (max-width: 420px) {
  .garant-description {
    margin-top: 45%;
    /* width: 340px; */
  }
}
@media (max-width: 420px) and (max-height: 668px) {
  .garant-description {
    margin-top: 120%;
    /* width: 340px; */
  }
}
@media (max-width: 385px) and (max-height: 591px) {
  .garant-description {
    margin-top: 140%;
    /* width: 340px; */
  }
}
@media (max-width: 361px) and (max-height: 741px) {
  .garant-description {
    margin-top: 110%;
    /* width: 340px; */
  }
}
