.garant-description {
  width: 80%;
  margin-top: 50%;
}
.garant-description img {
  height: 16px;
}
@media (max-width: 420px) {
  .garant-description {
    margin-top: 45%;
    /* width: 340px; */
  }
}
@media (max-width: 420px) and (max-height: 668px) {
  .garant-description {
    margin-top: 120%;
    /* width: 340px; */
  }
}
